{{ $img := "" }}
{{ if .Params.image_url }}{{ $img = .Params.image_url }}
{{ else if .Params.featured_image }}{{ $img = .Params.featured_image }}
{{ else if .Params.image }}{{ $img = .Params.image }}
{{ else if .Params.thumbnail }}{{ $img = .Params.thumbnail }}
{{ end }}

<meta property="og:type" content="article">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{ .Summary }}">
<meta property="og:url" content="{{ .Permalink }}">
{{ if $img }}
<meta property="og:image" content="{{ $img }}">
<meta name="twitter:image" content="{{ $img }}">
{{ end }}
<meta name="twitter:card" content="summary_large_image">
