{{- $s := .Site.Params.social -}}

<div class="footer-social">

  <p class="follow-title">
    {{ i18n "followSocial" }}
  </p>

  <div class="footer-social-buttons">

    {{ with $s.x }}
      <a href="{{ . }}" target="_blank" rel="me noopener nofollow" class="social-btn x">
        X
      </a>
    {{ end }}

    {{ with $s.facebook }}
      <a href="{{ . }}" target="_blank" rel="me noopener nofollow" class="social-btn fb">
        Facebook
      </a>
    {{ end }}

    {{ with $s.instagram }}
      <a href="{{ . }}" target="_blank" rel="me noopener nofollow" class="social-btn ig">
        Instagram
      </a>
    {{ end }}

    {{ with $s.tiktok }}
      <a href="{{ . }}" target="_blank" rel="me noopener nofollow" class="social-btn tt">
        TikTok
      </a>
    {{ end }}

  </div>
</div>
